@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

:root {
  --grey: #a6a7a8;
  --blue: #2b7a8a;
  --light-blue: #a6d9e3;
  --categories: #e6ceb6;
  --categories-text: #1e1e1e;
  --latest-post: #d1bba6;
  --black: #000000;
  --dark-grey: #3d4041;
  --sidebar-bg: #ecf6f9;
  --sign-up-bg: #c3e5eca6;
  --error-brown: #a65c33;
  --error-text: #fafafa;
  --error-subtext: #031013;
  --terms-text: #031013;
  --forgot-text: #a83434;
  --footer: #444141;
  --input-b-color: #faf8f6;
  --navbar: #ecf6f9;
  --search-icon: #a6d9e3;
  --hoverblue: #39a6bc;
  --hover-instagram: #c32aa3;
  --hover-facebook: #1877f2;
  --hover-gmail: #4285f4;
  --hover-twitter: #1da1f2;
  --input-text: #2b2d2e;
}
.container {
}

.subs-cont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* gap: 3rem; */
  margin: 0 auto;
}

.contacter {
  width: 35%;
}
.contacter h1 {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: var(--input-text);
}
.infields {
  margin-bottom: 2rem;
}
.msgfields {
  margin-bottom: 1rem;
}
.legends {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--input-text);
  margin-left: 0.8rem;
}
.infields input {
  width: 35rem;
  height: 3.5rem;
  padding: 0.5rem 0 1rem 0.5rem;
  background: #fafafa;
  border: 1px solid #383a3b;
  border-radius: 1rem;
}
.msgfields input {
  width: 35rem;
  height: 9.5rem;
  padding: 1rem 0 8rem 0.5rem;
  background: #fafafa;
  border: 1px solid #383a3b;
  border-radius: 1rem;
}
input::placeholder {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 160%;
  color: var(--grey);
}
.agreed {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
}
.agreed p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--input-text);
}
.sent {
  padding: 0.7rem 16rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: #fafafa;
  background: #3dacc2;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
}
.contact-image {
  width: 40%;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
}
@media (max-width: 888px) {
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
}
