div.input-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}

div.input-cont:nth-of-type(1) {
  margin-top: 1.2rem;
}

.sign-in-label {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 5px 3px;
}

.sign-in-input {
  padding: 0.8rem 0.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.204);
  border: 1px solid black;
  font-size: 0.9rem;
  width: 20rem;
}

.sign-in-button {
  background-color: var(--blue);
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 10px;
  color: #fafafa;
  font-size: 15px;
  margin: 1rem 0rem 0.8rem;
}

button:hover {
  background-color: #39a6bc;
  cursor: pointer;
}

.sign-in-form span:nth-of-type(2) {
  font-size: 12px;
  color: rgba(3, 16, 19, 0.5);
  font-weight: 400;
  text-align: left;
}

a {
  color: rgba(166, 92, 51, 1);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* SIGN IN PAGE STYLING ENDS HERE */

/* MEDIA QUERIES FOR SIGN UP PAGE */
@media screen and (max-width: 768px) {
  .create-acc {
    font-size: 24px;
  }
  .sign-up-label {
    font-size: 16px;
  }
  .sign-up-input,
  select.trips {
    height: 36px;
  }
  .sign-up-btn {
    margin-top: 8px;
  }
  .signupbtn {
    padding: 14px 10px;
    width: 210px;
  }
}

@media screen and (max-width: 475px) {
  .signup-form-container > div {
    min-width: 230px;
  }
  .create-acc {
    font-size: 20px;
  }
  .sign-up-label {
    font-size: 14px;
  }
  .signupbtn {
    padding: 14px 10px;
    width: 160px;
  }
}

@media screen and (max-width: 425px) {
  .signup-page-container {
    width: 86%;
  }
  .signup-form-container > div {
    min-width: 215px;
  }
}

@media screen and (max-width: 375px) {
  .signup-page-container {
    width: 86%;
  }
  .signup-form-container > div {
    min-width: 200px;
  }
  .sign-up-input,
  select.trips {
    height: 30px;
  }
  .signupbtn {
    padding: 10px 10px;
    width: 140px;
  }
}

@media screen and (max-width: 290px) {
  .signup-page-container {
    width: 86%;
  }
  .signup-form {
    min-width: 210px;
  }
  .signup-form-container > div,
  .signupbtn {
    min-width: 160px;
  }
}

@media screen and (max-width: 265px) {
  .signup-form {
    min-width: 185px;
  }
  .signup-form-container > div,
  .signupbtn {
    min-width: 150px;
  }
  .sign-up-label {
    font-size: 13px;
  }
  .sign-up-btn {
    margin-top: 16px;
  }
}

@media screen and (max-width: 220px) {
  .signup-page-container {
    width: 90%;
  }
  .signup-form {
    min-width: 170px;
  }
  .signup-form-container > div,
  .signupbtn {
    min-width: 140px;
  }
  .create-acc {
    font-size: 18px;
  }
  .sign-up-label,
  .sign-up-input,
  select.trips {
    font-size: 12px;
  }
}

@media screen and (max-width: 198px) {
  .signup-form {
    min-width: 150px;
  }
  .signup-form-container > div,
  .signupbtn {
    min-width: 120px;
  }
  .create-acc {
    font-size: 14px;
  }
  .sign-up-label,
  .sign-up-input,
  select.trips {
    font-size: 10px;
  }
}
