@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* SCROLL BAR STYLING */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--forgot-text);
}

:root {
  --grey: #a6a7a8;
  --blue: #2b7a8a;
  --light-blue: #a6d9e3;
  --categories: #e6ceb6;
  --categories-text: #1e1e1e;
  --latest-post: #d1bba6;
  --black: #000000;
  --dark-grey: #3d4041;
  --sidebar-bg: #ecf6f9;
  --sign-up-bg: #c3e5eca6;
  --error-brown: #a65c33;
  --error-text: #fafafa;
  --error-subtext: #031013;
  --terms-text: #031013;
  --forgot-text: #a83434;
  --footer: #444141;
  --input-b-color: #faf8f6;
  --search-icon: #a6d9e3;
  --blog-text: #2b2d2e;
  --navbar: #ecf6f9;
  --hoverblue: #39a6bc;
  --hover-instagram: #c32aa3;
  --hover-facebook: #1877f2;
  --hover-gmail: #4285f4;
  --hover-twitter: #1da1f2;
}

.gall-cont {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 4rem;
}

main {
  width: 80%;
}

/* side bar styling */
.sidebar {
  width: 20%;
  background-color: var(--sidebar-bg);
  text-align: center;
  padding: 1.5rem 0.5rem 4rem;
  border-radius: 5px;
  margin-right: 70px;
}

.logo {
  margin: -40px 0 -20px 0px;
}

.search {
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  padding: 0.6rem 0.5rem;
  border-radius: 3px;
  margin-bottom: 2.2rem;
}

.search > i {
  font-size: x-large;
  color: var(--search-icon);
  align-self: center;
}

.sidebar .sidebar-menu .sidebar-link {
  transition: 0.2s linear;
}

.sidebar-input {
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: var(--input-b-color);
  padding-left: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.sidebar-input::placeholder {
  color: var(--search-icon);
  font-size: 1rem;
  font-weight: 300;
}

nav li {
  display: flex;
  margin: 0 0 1.5rem 1.2rem;
  align-items: center;
}

nav li figure {
  margin-right: 0.8rem;
}

nav li a {
  text-decoration: none;
  text-align: left;
  display: flex;
  align-items: center;
  color: var(--grey);
  transition: letter-spacing 250ms;
}

nav li a:hover {
  color: #2b2d2e;
  letter-spacing: 1px;
}

nav li a:hover {
  color: var(--blue);
}

.active {
  filter: invert(42%) sepia(9%) saturate(2977%) hue-rotate(143deg)
    brightness(93%) contrast(87%);
}

/* top nav - hamburger styling */
.navbar-cont {
  display: none;
  position: fixed;
  padding-top: 20px;
  width: 100%;
  z-index: 1000;
  background-color: var(--error-text);
}

.navbar {
  display: flex;
  background-color: var(--navbar);
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.logo-img {
  width: 91px;
}

.search-btn {
  width: 63%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 43px 0 14px;
  border-radius: 8px;
  background-color: var(--error-text);
  border: 1px solid var(--blue);
}

.search-btn > i {
  font-size: x-large;
  color: var(--search-icon);
  position: absolute;
  right: 10px;
}

.topbar-input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  padding: 14px 0;
  width: 100%;
}

.menu-toggle {
  min-width: 50px;
  height: 50px;
  border-radius: 99px;
  background-color: var(--blue);
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}

.hamburger > span::after {
  content: "";
  top: 8px;
}

.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

/* SIDE BAR STYLING ENDS HERE */

/* MAIN STYLING*/
.section-title {
  text-align: center;
  color: var(--blog-text);
  font-size: 40px;
  margin-bottom: 16px;
}

.main-section p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--blog-text);
  margin-bottom: 64px;
}

.gall-768 {
  display: none;
}

.gallery-container {
  position: relative;
  min-height: 100vh;
}

.gallery-container h3 {
  font-size: 22px;
  margin-bottom: 16px;
  color: var(--blog-text);
}

.gallery-container .image-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 64px;
  /* padding: 10px; */
}

.gallery-container .image-cont .image {
  height: 250px;
  width: 300px;
  overflow: hidden;
  animation: transition 0.4s ease-in-out;
  cursor: pointer;
}

.gallery-container .image-cont .image:hover {
  transform: scale(1.05);
  box-shadow: #000000 2px 2px 9px;
}

@keyframes transition {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.gallery-container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--error-text);
  height: 100%;
  width: 100%;
  z-index: 1002;
  display: none;
  cursor: pointer;
}

.gallery-container .popup-image span {
  position: absolute;
  top: 0;
  right: 24px;
  font-size: 60px;
  font-weight: 700;
  color: var(--blue);
  z-index: 100;
  cursor: pointer;
}

.gallery-container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid var(--latest-post);
  border-radius: 5px;
  width: 850px;
  height: 550px;
  object-fit: cover;
  cursor: pointer;
}

/* FOOTER STYLING */
.footer-0 {
  margin-top: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue);
  font-weight: 500;
  color: var(--error-text);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.btn-footer {
  justify-self: center;
  font-weight: 700;
  color: var(--body-bg);
  background-color: var(--categories);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.6rem;
}

.footer-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p-footer-2 {
  display: flex;
  justify-content: center;
  background-color: var(--footer);
  color: var(--sidebar-bg);
  padding: 0.5rem 0;
  margin-top: 1.5rem;
}

.first-part {
  display: flex;
  flex-direction: column;
}

.img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 0.5rem;
}

.ul-footer-con {
  display: flex;
  justify-content: space-around;
}

.ul-footer-1 {
  margin-right: 1rem;
}

.ul-footer-2 {
  margin-left: 1rem;
}

.ul-footer-1,
.ul-footer-2 {
  line-height: 3rem;
  list-style-type: none;
  color: var(--grey);
}

a {
  color: var(--grey);
  text-decoration: none;
}

ul li a:hover {
  color: var(--blue);
}

ul li a:active {
  color: var(--forgot-text);
}

.br-280 {
  display: none;
}

.third-part-p,
.para-tour-1,
.para-tour-2,
.ul-footer a {
  color: var(--grey);
}

.img,
.quicklinks {
  margin-top: 5rem;
}

.contact-us {
    margin-top: 12px;
}

.quicklinks,
.contact-us,
.para-tour-1,
.third-part-p,
.btn,
.footer-input {
  margin-bottom: 0.7rem;
}

.input-but input {
  padding: 0.6rem 1.9rem;
  color: var(--latest-post);
  border-radius: 0.4rem;
  font-weight: 700;
  border-color: var(--blue);
  border-style: solid;
  background-color: var(--input-b-color);
  cursor: pointer;
}

.btn {
  padding: 0.6rem 1.8rem;
  background-color: var(--blue);
  color: var(--sidebar-bg);
  border-color: var(--blue);
  border-style: solid;
  text-transform: uppercase;
  border-radius: 0.4rem;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hoverblue);
}

.icons-con {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-2,
.icon-3,
.icon-4 {
  margin-left: 1rem;
}

.icon-1:hover {
  filter: invert(26%) sepia(37%) saturate(4763%) hue-rotate(292deg)
    brightness(89%) contrast(93%);
}

.icon-2:hover {
  filter: invert(34%) sepia(72%) saturate(2220%) hue-rotate(202deg)
    brightness(96%) contrast(98%);
}

.icon-3:hover {
  filter: invert(44%) sepia(52%) saturate(1107%) hue-rotate(187deg)
    brightness(100%) contrast(92%);
}

.icon-4:hover {
  filter: invert(44%) sepia(95%) saturate(500%) hue-rotate(161deg)
    brightness(103%) contrast(96%);
}
/* FOOTER STYLING ENDS HERE */

/* MEDIA QUERIES */
@media (max-width: 1426px) {
  .gallery-container .image-cont .image {
    width: 306px;
  }
}

@media (max-width: 1413px) {
  .gallery-container .image-cont .image {
    width: 299px;
  }
}

@media (max-width: 1384px) {
  .gallery-container .image-cont .image {
    width: 293px;
  }
}

@media (max-width: 1359px) {
  .gallery-container .image-cont .image {
    width: 287px;
  }
}

@media (max-width: 1334px) {
  .gallery-container .image-cont .image {
    width: 283px;
  }
}

@media (max-width: 1318px) {
  .gallery-container .image-cont .image {
    width: 276px;
  }
}

@media (max-width: 1288px) {
  /* sidebar */
  .search > i {
    margin-left: 14px;
  }

  .sidebar-input {
    padding-left: 10px;
  }

  /* main */
  .gallery-container .image-cont .image {
    width: 269px;
  }
}

@media (max-width: 1259px) {
  .gallery-container .image-cont .image {
    width: 260px;
  }
}

@media (max-width: 1222px) {
  /* sidebar */
  .logo {
    margin-left: -28px;
  }

  .search > i {
    margin-left: 22px;
  }

  /* main */
  .gallery-container .image-cont .image {
    width: 252px;
  }
}

@media (max-width: 1188px) {
  .gallery-container .image-cont .image {
    width: 244px;
  }
}

@media (max-width: 1155px) {
  .gallery-container .image-cont .image {
    width: 236px;
  }
}

@media (max-width: 1122px) {
  .gallery-container .image-cont .image {
    width: 225px;
  }
}

@media (max-width: 1076px) {
  .gallery-container .image-cont .image {
    width: 216px;
    height: 170px;
  }
}

@media (max-width: 1038px) {
  /* sidebar */
  .logo {
    margin-left: -34px;
  }

  .search > i {
    padding: 4px 0;
    margin-left: 4px;
  }

  .sidebar-input {
    display: none;
  }

  /* main */
  .gallery-container .image-cont .image {
    width: 211px;
  }
}

@media (max-width: 1024px) {
  /* sidebar */
  .sidebar {
    max-width: 200px;
  }

  /* main */
  .section-title {
    font-size: 40px;
  }

  .main-section p,
  .gallery-container h3 {
    font-size: 20px;
  }
}

@media (max-width: 1018px) {
  .gallery-container .image-cont .image {
    width: 204px;
  }
}

@media (max-width: 988px) {
  .gallery-container .image-cont .image {
    width: 198px;
  }
}

@media (max-width: 963px) {
  /* main */
  .gallery-container .image-cont .image {
    width: 179px;
  }

  .gallery-container .popup-image img {
    width: 740px;
    height: 530px;
  }
}

@media (max-width: 926px) {
  /* side bar */
  .logo img {
    width: 210px;
  }

  nav li {
    margin-left: 9px;
  }

  .sidebar-menu img {
    width: 22px;
  }

  /* main */
  .section-title {
    font-size: 36px;
  }

  .main-section p {
    font-size: 18px;
  }
}

@media (max-width: 888px) {
  /* main */
  .main-section p {
    font-size: 16px;
  }

  .gallery-container .image-cont .image {
    width: 160px;
  }

  /* footer */
  .input-but {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* align-items: center; */
  }

  .first-part {
    width: 300px;
  }

  input {
    width: 240px;
  }

  .btn {
    width: 138px;
  }

  .quicklinks {
    margin-top: 103px;
  }

  .contact-us {
    margin-top: 46px;
  }
}

@media (max-width: 805px) {
  /* side bar */
  .logo img {
    width: 210px;
  }

  .sidebar-menu img {
    width: 20px;
  }

  .nav-link {
    font-size: 13px;
  }

  /* main */
  .gallery-container .image-cont .image {
    width: 151px;
  }

  .gallery-container .popup-image img {
    width: 630px;
    height: 490px;
  }
}

@media (max-width: 768px) {
  /* top navbar */
  .navbar-cont,
  .gall-768 {
    display: block;
  }

  /* popup sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 140px;
    transition: 0.2s linear;
    z-index: 1000;
  }

  .sidebar.is-active {
    left: 0;
  }

  .sidebar-menu {
    margin-top: 12px;
  }

  .sidebar ul li a {
    font-size: 16px;
  }

  .search {
    display: none;
  }

  .logo {
    margin-left: -10px;
    margin-top: -24px;
  }

  .logo img {
    width: 100%;
  }

  nav li {
    margin-left: 5px;
  }

  .sidebar-menu ul li img {
    width: 18px;
  }

  /* main */
  .main-section {
    width: 100%;
    margin-top: 46px;
  }

  .main-section p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .gall-br {
    display: none;
  }

  .gallery-container .image-cont .image {
    width: 337px;
    height: 230px;
  }

  /* footer */
  .footer-0 {
    margin-top: 44px;
  }
  .quicklinks,
  .contact-us {
    font-size: 1.625rem;
  }

  .para-tour-1,
  .para-tour-2,
  ul li a,
  .third-part-p {
    font-size: 14px;
  }

  .ul-footer-con {
    margin-top: -14px;
  }

  .icon-1 {
    width: 20px;
  }

  .icon-2 {
    width: 10px;
  }

  .icon-3 {
    width: 21px;
  }

  .icon-4 {
    width: 24px;
  }
}

@media (max-width: 765px) {
  /* main */
  .gallery-container .image-cont .image {
    width: 327px;
  }
}

@media (max-width: 743px) {
  /* main */
  .gallery-container .image-cont .image {
    width: 321px;
  }

  .gallery-container .popup-image img {
    width: 560px;
  }
}

@media (max-width: 729px) {
  /* popup sidebar */
  .logo-img {
    margin-left: -14px;
  }

  /* main */
  .gallery-container .image-cont .image {
    width: 315px;
  }
}

@media (max-width: 716px) {
  /* main */
  .gallery-container .image-cont .image {
    width: 304px;
  }
}

@media (max-width: 692px) {
  /* main */
  .gallery-container .image-cont .image {
    width: 295px;
  }
}

@media screen and (max-width: 676px) {
  /* footer */
  .first-part {
    width: 250px;
  }

  .quicklinks {
    margin-top: 116px;
  }

  .contact-us {
      margin-top: 29px;
  }

  .ul-footer-con {
    flex-direction: column;
  }

  .ul-footer-con ul {
    margin: 0;
  }

  .ul-footer-1 li,
  .ul-footer-2 li {
    margin-bottom: -20px;
  }
}

@media (max-width: 672px) {
  /* main */
  .gallery-container .image-cont .image {
    width: 284px;
  }

  .gallery-container .popup-image img {
    width: 510px;
  }
}

@media (max-width: 647px) {
  /* main */
  .gallery-container .image-cont .image {
    width: 276px;
  }
}

@media (max-width: 629px) {
  /* main */
  .gallery-container .image-cont .image {
    width: 266px;
  }

  .gallery-container .popup-image img {
    width: 550px;
  }
}

@media (max-width: 608px) {
  /* main */
  .section-title {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .main-section p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .gallery-container .image-cont {
    margin-bottom: 44px;
  }

  .gallery-container .image-cont .image {
    width: 100%;
    height: 350px;
  }

  .gallery-container .popup-image img {
    width: 440px;
  }
}

@media (max-width: 600px) {
  /* footer */
  footer {
    margin-top: -60px;
  }

  .footer-0 {
      margin-top: 90px;
  }

  .p-footer-0,
  .btn-footer {
    font-size: 13px;
  }

  .footer-1 {
    flex-direction: column;
    padding-left: 25px;
    align-items: flex-start;
  }

  .first-part {
    margin-top: -40px;
    width: 290px;
  }

  .para-tour-1,
  .para-tour-2,
  ul li a,
  .third-part-p,
  .p-footer-2 {
    font-size: 16px;
  }

  .quicklinks,
  .contact-us {
    margin-top: 32px;
  }

  .ul-footer-con {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    text-align: justify;
  }
}

@media (max-width: 540px) {
  /* top bar */
  .navbar {
    padding: 0 24px;
  }

  .menu-toggle {
    margin-left: 15px;
  }

  /* main */
  .gallery-container .image-cont .image {
    height: 230px;
  }

  .gallery-container .popup-image img {
    width: 310px;
    height: 320px;
  }
}

@media screen and (max-width: 490px) {
  /* footer */
  .footer-0 {
    flex-direction: column;
    gap: 8px;
  }

  .p-footer-0,
  .btn-footer {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  /* top bar */
  .navbar {
    padding: 0 18px;
  }

  /* popup side bar */
  .logo img {
    width: 140px;
    margin-left: -24px;
  }

  /* main */
  .gallery-container .popup-image span {
    top: 8px;
    right: 14px;
    font-size: 46px;
  }
}

@media (max-width: 375px) {
  /* main */
  .section-title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .main-section p {
    font-size: 15px;
    margin-bottom: 24px;
  }

  .gallery-container .popup-image img {
    width: 290px;
    height: 290px;
  }

  /* footer */
  .ul-footer {
    gap: 8px;
  }

  .quicklinks,
  .contact-us {
    margin-top: 32px;
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  /* main */
  .section-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .topbar-input,
  .main-section p {
    font-size: 12px;
  }

  .gallery-container h3 {
    font-size: 16px;
  }

  .gallery-container .popup-image img {
    width: 260px;
    height: 200px;
  }

  /* footer */
  footer {
    margin-top: -70px;
  }

  .p-footer-0,
  .btn-footer {
    font-size: 10px;
  }

  .para-tour-1,
  .para-tour-2,
  .input-but input,
  .btn,
  ul li a,
  .third-part-p,
  .p-footer-2 {
    font-size: 12px;
  }

  .quicklinks,
  .contact-us {
    font-size: 1.25rem;
  }

  .icon-1 {
    width: 15px;
  }

  .icon-2 {
    width: 7px;
  }

  .icon-3 {
    width: 16px;
  }

  .icon-4 {
    width: 19px;
  }
}

@media (max-width: 290px) {
  /* footer */
  .footer-1 {
    padding-left: 6px;
  }

  .first-part {
    width: 285px;
  }
}

@media (max-width: 280px) {
  /* main */
  .section-title {
    font-size: 20px;
  }

  .main-section p {
    font-size: 12px;
  }

  .gallery-container h3 {
    font-size: 16px;
  }

  /* footer */
  .br-280 {
    display: block;
  }

  .ul-footer {
    flex-direction: column;
    gap: 0;
  }

  .ul-footer li {
    margin-bottom: -10px;
  }

  .contact-us {
    margin-top: 1.125rem;
  }

  br {
    display: block;
  }
}
