@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

:root{
    --grey:#A6A7A8;
    --blue:#2B7A8A;
    --light-blue:#A6D9E3;
    --categories:#E6CEB6;
    --categories-text:#1E1E1E;
    --latest-post:#D1BBA6;
    --black:#000000;
    --dark-grey:#3D4041;
    --sidebar-bg:#ECF6F9;
    --sign-up-bg:#c3e5eca6; 
    --error-brown:#A65C33;
    --error-text:#FAFAFA;
    --error-subtext:#031013;
    --terms-text:#031013;
    --forgot-text:#A83434;   
    --footer: #444141; 
    --input-b-color: #FAF8F6;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(images/reset-bg.png);
    background-size: 100rem 45rem;
}

.center {
    position: absolute;
    height: 60vh;
    width: 50vw;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--sidebar-bg);
    border-radius: 0.4rem;
}

.inner {
    position: absolute;
    left:50%;
    transform: translate(-50%);
    text-align: center;
}

.btn {
    padding: 0.8rem 8rem;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--light-blue);
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
}

h2, img {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 3rem;
}

/* MEDIA QUERIES FOR SIGN UP PAGE */
@media screen and (max-width: 320px) {
    .imag {
        height: 30%;
        width: 40%;
    }
}